<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trending Movies</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
    <form method="POST" action="/search" class="search-form">
        <input type="text" name="query" placeholder="Search movies..." required>
        <button type="submit">Search</button>
    </form>
        <a href="/signin" class="signin-btn">Sign In</a>
    </div>
    
    <img src="https://i.ibb.co/Qjhb9Smy/somaiyaflix.png" style="display:block;margin:auto;">
    <h1>Trending Movies This Week</h1>

    <div class="movies">
        <% movies.forEach(movie => { %>
            <form method="POST" action="/movie">
                <input type="hidden" name="moviename" value="<%= movie.title %>">
                <input type="hidden" name="movieid" value="<%= movie.id %>">
                <input type="hidden" name="player" value="vidking">
                <button type="submit" style="all:unset;cursor:pointer;">
                    <div class="movie-card">
                        <% if(movie.poster){ %>
                            <img src="<%= movie.poster %>">
                        <% } %>

                        <div class="movie-card-content">
                            <div class="movie-title">
                                <%= movie.title %> (<%= movie.date %>)
                            </div>

                            <div class="movie-rating">
                                ⭐ <%= movie.rating %>
                            </div>
                        </div>
                    </div>
                </button>
            </form>
        <% }) %>
    </div>
</body>
</html>